html { font-size: 20px; font-family: Fira Code, Menlo, Monaco, monospace; }
body { margin: 2em; }
ol { margin: 0; padding: 0; list-style: none; }
li { line-height: 1em; margin: 0.5em 0; }

input { width: 25em; height: 1em; padding: 0.5em 0.25em; margin-bottom: 1em; border-radius: 0.2em; font: inherit; border: 0; background-color: rgba(160, 160, 160, 0.15); }
input:focus { outline: none; background-color: rgba(160, 160, 160, 0.25); }

.stack, .error, .next { display: inline-block; height: 1em; line-height: 1em; padding: 0.5em 0.25em; border-radius: 0.2em; vertical-align: top; }

.stack { color: rgb(170, 192, 206); background-color: rgba(105, 180, 255, 0.15); }
.stack span { color: rgb(0, 125, 255); }

li .stack, .next { color: rgb(200, 200, 200); background-color: rgba(160, 160, 160, 0.15); }
li .stack span { color: rgb(120, 120, 120); }
.next { color: black; }

.error { color: rgb(240, 0, 80); background-color: rgba(240, 0, 80, 0.05); }
